{% extends 'base.html' %}
{% block content %}
<header>
    <h1>Art List</h1>
</header> 

<ul>
  <main id="list">
    {% for art in art_list %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        <header>
          <h5 class="card-title">{{ art.title }}</h5>  
        </header> 
          <p>Location: {{ art.location }}</p>  
          <a href="{% url 'art_detail' art.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>

    {% endfor %}
  </main>
</ul>
{% endblock %}