{% extends 'base.html' %}
{% block content %}
<header>
   <h1>Art Details</h1>
</header> 

<div class="card" id="artist_det">
  <div class="card-body">
  <header>
    <h2 class="card-title">{{ art.title }}</h2>
  </header> 
    <p class="card-text">Description: {{ art.description }}</p>
    <p>Year: {{ art.year }}</p>
    <p>Dims: {{ art.dims }}</p>
    <p>Location: {{ art.location }}</p>
    <a href="{% url 'art_update' art.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'art_delete' art.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>

{% endblock %}