{% extends 'base.html' %}

{% block content %}
  <div class="card" id="artist_det">
  <div class="card-body">
  <header>
    <h1>Delete Art</h1>
    <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
  </header> 
 <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn btn-danger">
    <a id="cancel" href="{% url 'art_detail' object.id %}" class="btn btn-warning">Cancel</a>
  </form>
  </div>
</div>
{% endblock %}