{% extends 'base.html' %}
{% block content %}

<h1>Artist Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ artist.name }}</span>
    <p>Birth: {{ artist.birth }}</p>
    <p>Death: {{ artist.death }}</p>
    <p>Movement: {{ artist.movement}}</p>
    <p>Quote: {{ artist.quote }}</p>
  </div>
   <div class="card-action">
    <a href="{% url 'artists_update' artist.id %}">Edit</a>
    <a href="{% url 'artists_delete' artist.id %}">Delete</a>
  </div>
    <div class="col s6">
      <form action="{% url 'add_painting' artist.id %}" method="post">
      {% csrf_token %}
      {{ painting_form.as_p }}
      <input type="submit" class="btn" value="Add Painting">
      </form>
      <h4>Paintings</h4>
        {% for painting in artist.painting_set.all %}
        <div>
          <ul>
            <li>Title: {{painting.title}}</li>
            <li>Year: {{painting.year}}</li>
            <li>Description {{painting.description}}</li>
            <li>Dimensions: {{painting.dims}}</li>
            <li>Location: {{painting.location}}</li>
          </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}