{% extends 'base.html' %}
{% block content %}

<h1>Artist List</h1>

{% for artist in artists %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">{{ artist.name }}</h2>
        <a href="{% url 'detail' artist.id %}" class="btn btn-primary">Details</a>
     </div>
  </div>
{% endfor %}


{% for art in art_list %}
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ art.title }}</h5>
            <p>Year: {{ art.year }}</p>
            <p>Description: {{ art.description }}</p>
            <p>Dims: {{ art.dims }}</p>
            <p>Location: {{ art.location }}</p>
      <a href="{% url 'art_detail' art.id %}" class="btn btn-primary">Details</a>
    </div>
   </div>
  </a>
{% endfor %}

{% endblock %}