{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
   <h1>About</h1>
</header> 


<p class="about_p">Welcome to Art Library!!! Please Log in or Sign Up to access all the features this app offers! Art Library will allow you to add all the artists you admire, update their info, and upload pictures of their work. You will also be able to choose the types of art your favorite artists were known for creating. A famous pieces of art list is available for you to link to their respective artist. You will also be able to add additional pieces of art that were not previously available and link them to your artist,expanding the art library! </p>
<div>
 <img class="logo" src={% static "images/img1.jpeg" %} height="250">
</div>

{% endblock %}